@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");

body.iframe {
    margin: 80px;
}

h1 {
    font-family: 'Secular One', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
}

h2,
h3,
h4,
h5,
h6,
p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
}

p {
    color: rgb(219, 219, 219);

}

h3 {
    font-weight: 600;
}

.workshop-title-time {
    display: flex;
    gap: 10px;
    align-items: baseline;
    /* justify-content: space-between; */
}

.workshop-title-time>* {
    margin: 0;
}

.time {
    color: #aaaaaa;
}

.event-type.workshop {
    color: black;
    background-color: #216ABD;
    border-radius: 5px;
    padding: 3px 4px 3px 4px;
    margin: 0;
    border: none;
    transition: transform .1s;
}

.event-type.workshop:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.event-type.keynote {
    color: black;
    background-color: #FA991C;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.event-type.alumni {
    color: black;
    background-color: #06C38F;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.event-type.series1 {
    color: black;
    background-color: #50e9e1;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.event-type.series2 {
    color: black;
    background-color: #97ccf0;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

#button-link {
    /* margin: 0; */
    padding: 0;
    border: none;
    height: 100%;
    background-color: red;
    background: none;
}

body p.host {
    font-style: italic;
    margin: 0;
}

ul {
    padding: 0 0 20px 0;
    list-style: none;
}

ul>li:not(:last-child) {
    margin-bottom: 20px;
}

ul li p {
    margin-top: 5px;
}

ol {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
}

ol>li:not(:last-child) {
    margin-bottom: 20px;
}

h2.proficiency.beginner {
    color: black;
    background-color: #216ABD;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

h2.proficiency.intermediate {
    color: black;
    background-color: #FA991C;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

h2.proficiency.advanced {
    color: black;
    background-color: #06C38F;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.workshop-line {
    display: flex;
    gap: 10px;
    align-items: baseline;
}