@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600");
@import url("fontawesome-all.min.css");



@media screen and (max-width: 1280px) {

    body.iframe {
        margin: 80px;
        margin-top: 90px;
    }

}

@media screen and (max-width: 736px) {

    body.iframe {
        margin: 20px;
        margin-top: 90px;
        /* width: 100%; */
        /* position: relative; */
    }

}

html.popup {
    /* margin */
    position: relative;
    width: 100%;
}


.popup-header {
    background-color: #06C38F;
    width: 100%;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
}

h1 {
    /* font-family: 'Secular One', sans-serif; */
    font-family: 'Raleway',
        sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    /* letter-spacing: -0.05em; */
}

h2 {
    font-family: 'Raleway',
        sans-serif;
    color: #fff;
    /* font-family: 'Karla', sans-serif; */
    font-weight: 400;
}

h3,
h4,
h5,
h6,
p {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
}

p {
    color: rgb(219, 219, 219);

}

h3 {
    font-weight: 600;
}

.workshop-title-time {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
    /* justify-content: space-between; */
}

.workshop-title-time>* {
    margin: 0;
}

.time {
    color: #aaaaaa;
}

.event-type {
    color: white;
    border-radius: 5px;
    padding: 3px 4px 3px 4px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Karla',
    sans-serif;
    font-size: 15px;
    /* font-kerning: 1; */
    letter-spacing: 1px;
}

.event-type.workshop {
    background-color: #216ABD;
    border: none;
}

.event-type.btn {
    transition: transform .1s;
}

.event-type.btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.event-type.keynote {
    background-color: #FA991C;
    border: none;
}

.event-type.alumni {
    background-color: #06C38F;
    border: none;
}

.event-type.series1 {
    background-color: #50e9e1;
    color: black;
    border: none;
}

.event-type.series2 {
    color: black;
    background-color: #97ccf0;
    border-radius: 5px;
    padding: 3px 4px 3px 4px;
    margin: 0;
    border: none;
}

#button-link {
    /* margin: 0; */
    padding: 0;
    border: none;
    height: 100%;
    background-color: red;
    background: none;
}

body p.host {
    font-style: italic;
    margin: 0;
}

ul {
    background-color: rgb(26, 26, 26);
    padding: 10px;
    padding-left: 10px;
    border-radius: 10px;
    /* padding: 0 0 20px 0; */
    list-style: square;
    /* list-style-position: inside; */
    color: #06C38F;
}

ul>li {
    margin-left: 15px;
}

ul>li:not(:last-child) {
    margin-bottom: 20px;
}

ul li p {
    margin-top: 5px;
}

ol {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    color: #fff;
    letter-spacing: -0.05em;
}

ol>li:not(:last-child) {
    margin-bottom: 20px;
}

h2.proficiency.beginner {
    color: black;
    background-color: #216ABD;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

h2.proficiency.intermediate {
    color: black;
    background-color: #FA991C;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

h2.proficiency.advanced {
    color: black;
    background-color: #06C38F;
    border-radius: 5px;
    padding: 0 3px 0 3px;
}

.workshop-line {
    display: flex;
    gap: 10px;
    align-items: baseline;
}

.guest-image {
    float: left;
    height: 20em;
    margin: 0 20px 0 0;
}

.keynote-photo-bio {
    margin: 20px;
}

.contact-link {
    color: #216ABD;
}
